html, body{height: 100%; }

*{ margin:0 auto; padding:0;}
.container{ background:#222222;
   width: 640px;
   height: 100%;
   border: 1px solid; }
   body { background:#222222;color:white; }


   .border{border: 1px solid;}
   .bottomBorder{ border-bottom: 1px solid; }
   .center { text-align: center; }
   .floatLeft {float: left; width:49%; margin-left:2px;}
   .floatRight {float: right; width: 49%; margin-right: 2px;}
   .displayText{ font-size: 40px; text-align:right;  line-height:4em; height: 95%; background: white; color: #575656}

button { width: 32%; height: 24%; margin: 2px;
    background: #575656; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575656', endColorstr='#222222'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#575656), to(#222222)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #575656,  #222222); /* for firefox 3.6+ */ 

    color: white; font-size: 40px; 

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}
.gradientBckg{    background: #575656; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575656', endColorstr='#222222'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#575656), to(#222222)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #575656,  #222222); /* for firefox 3.6+ */
    color: white; font-size: 40px; }
